html, body {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	--bg0: #010409;
	--bg1: #0d1117;
	--bg2: #151b23;
	--bg2-disabled: #212830;
	--bg2-active: #3c4d64;
	--bgChat: #3d444d;
	--bgChatMy: #34547f;
	--button1: #212830;
	--button1-hover: #262c36;
	--button1-disabled: #171c21;
	--button1-active: #3c4d64;
	--button2: #a1a8b0;
	--outline1: #3d444d;
	--outline2: #000;
	--hover-outline1: #1f6feb;
	--text1: white;
	--text2: black;
	--text1-disabled: #aaaaaa;
	--hover-bg1: #3d444d;
	--icon-filter: invert(100%);
	--attachment: #bbbbdd;
}

.fullscreen {
	background-color: var(--bg0);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainTitle {
	margin: 0;
	color: var(--text1);
	font-size: 32px;
}

.connectTab {
	background-color: var(--bg2);
	padding: 3px 6px;
	margin: 0 2px 0 0;
	border: 0;
	border-radius: 0;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	font-size: 18px;
	border: 1px solid var(--outline1);
	border-bottom: none;
	color: var(--text1);
	position: relative;
	top: 1px;
	z-index: 1;
}

.connectTabSelected {
	background-color: var(--bg1);
	z-index: 3;
}

.connectList {
	padding: 10px;
}

.connectTabs {
	display: flex;
	flex-direction: row;
}
.connectTabContent {
	display: flex;
	flex-direction: column;
	background-color: var(--bg1);
	color: var(--text1);
	padding: 4px;
	align-items: center;
	border: 1px solid var(--outline1);
	position: relative;
	z-index: 2;
	font-size: 18px;
	min-height: 180px;
}

.connectFiller {
	flex: 1;
}
.connectOptionLeftRight {
	width: 100%;
	padding: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.connectOptionRight {
	height: 20px;
	background-color: var(--bg2);
	border: 1px solid var(--outline1);
	border-radius: 6px;
	padding: 6px;
	color: var(--text1);
}
.connectOptionRight:focus {
	outline: 3px solid var(--hover-outline1);
	outline-offset: -1px;
}
.connectOptionRight:read-only {
	background-color: var(--bg2-disabled);
	color: var(--text1-disabled);
}
.connectOptionLeft {
}
.connectButton {
	background-color: var(--button1);
	border: 1px solid var(--outline1);
	border-radius: 6px;
	font-size: 18px;
	color: var(--text1);
	vertical-align: middle;
	height: 32px;
	padding: 0 8px 0 8px;
	margin: 8px 0 0 0;
}
.connectButtonGoogle {
	padding: 0 8px 0 32px;
	background: url("img/signin/google.svg") no-repeat left 4px center / 28px 28px, var(--button1);
}
.connectButton:hover {
	background-color: var(--button1-hover);
}
.connectButton:disabled {
	background-color: var(--button1-disabled);
	color: var(--text1-disabled);
}
.disconnectReason {
	margin: 2px;
	background-color: var(--bg1);
	color: var(--text1);
	border: 1px solid var(--outline1);
	border-radius: 6px;
	padding: 4px;
	font-size: 18px;
}
.disconnectButtons {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.disconnectButton {
	background-color: var(--button1);
	border: 1px solid var(--outline1);
	border-radius: 6px;
	font-size: 18px;
	color: var(--text1);
	vertical-align: middle;
	height: 32px;
	padding: 0 8px 0 8px;
	margin: 8px 0 0 0;
}
.disconnectButton:hover {
	background-color: var(--button1-hover);
}
.baseOuter {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}
.baseTop {
	flex: 1;
	display: flex;
	flex-direction: row;
	min-height: 0;
}
.baseTopLeft {
	flex: 1;
}
.baseLeftMain {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--bg0);
}
.baseLeftGrid {
	flex: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 5px;
}
.baseLeftGridPage {
	background-color: var(--button1);
	border: 1px solid var(--outline1);
	color: var(--text1);
	border-radius: 6px;
	width: 24px;
	height: 24px;
}
.baseLeftGridPanel {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 4px;
}
.baseLeftGridBG {
	border-radius: 6px;
	position: relative;
	background-color: var(--bg2);
	border: 1px solid var(--outline1);
	margin: 5px;
	transition: opacity 0.3s ease-in-out;
}
.baseLeftGridVideo {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    max-width: 100%;
    max-height: 100%;
}
.baseLeftGridName {
	position: absolute;
	bottom: 5px;
	left: 8px;
	color: var(--text1);
}

.baseLeftFullBG {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: var(--bg2);
}
.baseLeftFullVideo {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    max-width: 100%;
    max-height: 100%;
}
.baseLeftFullName {
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: var(--text1);
}
.baseLeftFullButtonsRow {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: row-reverse;
	gap: 4px;
	z-index: 1;
}
.baseLeftFullButton {
	background-color: var(--button1);
	border: 1px solid var(--outline1);
	border-radius: 6px;
	padding: 4px;
	color: var(--text1);
}
.baseLeftFullButton:hover {
	background-color: var(--button1-hover);
	outline: 3px solid var(--hover-outline1);
	outline-offset: -1px;
}
.baseLeftFullButtonActive {
	background-color: var(--button1-active);
}
.baseLeftFullButtonActive:hover {
	background-color: var(--button1-active);
	outline: 3px solid var(--hover-outline1);
	outline-offset: -1px;
}
.baseLeftFullBGMini {
	width: 30%;
	height: 30%;
	bottom: 0;
	right: 0;
	position: absolute;
}
.baseLeftFullVideoMini {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    max-width: 100%;
    max-height: 100%;
}

.baseLeftBoardTextarea {
	width: 100%;
	height: 100%;
	resize: none;
	border: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.baseLeftBoardMarkdown {
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #cccccc;
}
.baseLeftBoardCanvas {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0 0 5px #00000022;
}
.baseLeftBoardStatusbar {
	position: absolute;
	top: 10px;
	left: 25%;
	right: 25%;
	border-radius: 3px;
	padding: 4px;
	background-color: #ffffff88;
	z-index: 1;
}


.baseTopRight {
	width: 300px;
	background-color: var(--bg1);
	border-left: 1px solid var(--outline1);
	transition: width 0.3s ease-in-out;
	overflow: hidden;
}
.baseBottomOuter {
	height: 100px;
	overflow-y: hidden;
	transition: height 0.3s ease-in-out;
}
.baseBottomInner {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	background-color: var(--bg1);
	border-top: 1px solid var(--outline1);
	overflow-x: auto;
	transition: height 0.3s ease-in-out;
}
.baseBottomButton {
	position: relative;
	border-radius: 6px;
	border: 1px solid var(--outline1);
	background-color: var(--bg2);
	color: var(--text1);
	margin: 10px;
	aspect-ratio: 1;
	word-wrap: break-word;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.baseBottomButton:hover {
	outline: 3px solid var(--hover-outline1);
	outline-offset: -1px;
}
.baseBottomButtonActive {
	background-color: var(--bg2-active);
}
.baseBottomImg {
	position: absolute;
	top: 6px;
	width: 36px;
	height: 36px;
	filter: var(--icon-filter);
}
.baseBottomSpan {
	height: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
}
div {
	box-sizing: border-box;
}
.baseRightMain {
	width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.baseRightList {
	border-top: 1px solid var(--outline1);
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 0;
	overflow-y: auto;
}
.baseRightTitle {
	margin: 8px;
	display: block;
	align-self: center;
	color: var(--text1);
}
.chatbox {
	height: 40px;
	display: flex;
	flex-direction: row;
	border-top: 1px solid var(--outline1);
	gap: 4px;
	padding: 0 4px;
}
.chatboxInput {
	flex: 1;
	margin: 4px 0px;
	padding: 4px;
	background-color: var(--bg2);
	border: 1px solid var(--outline1);
	border-radius: 6px;
	color: var(--text1);
}
.chatboxInput:focus {
	outline: 3px solid var(--hover-outline1);
	outline-offset: -1px;
	border: 1px solid var(--outline1);
}
.chatboxSend {
	margin: 4px 0px;
	padding: 4px;
	background-color: var(--button1);
	border: 1px solid var(--outline1);
	border-radius: 6px;
	color: var(--text1);
}
.chatMessage {
	background-color: var(--bgChat);
	color: var(--text1);
	border-radius: 6px;
	margin: 5px 14px;
	padding: 5px;
	position: relative;
}
.chatMessageOther:after {
	content: '';
	position: absolute;
	left: 0;
	top: 18px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: var(--bgChat);
	border-left: 0;
	border-top: 0;
	margin-top: -5px;
	margin-left: -10px;
}
.chatMessageMy {
	background-color: var(--bgChatMy);
}
.chatMessageMy:after {
	content: '';
	position: absolute;
	right: 0;
	top: 18px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: var(--bgChatMy);
	border-right: 0;
	border-top: 0;
	margin-top: -5px;
	margin-right: -10px;
}
.chatMessageAuthor {
	font-weight: bold;
}
.chatMessageAttachment {
	color: var(--attachment);
}
.chatMessageAttachment::before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
    background-image: url("img/chat/attachment.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	filter: var(--icon-filter);
	margin: 0 4px 0 0;
}
.boardsButtonsColumn {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-top: 1px solid var(--outline1);
	/*background-color: var(--bg2);*/
}
.boardsButtonsRow {
	width: 100%;
	display: flex;
	flex-direction: row;
	/*border-top: 1px solid var(--outline1);*/
	/*background-color: var(--bg2);*/
}
.boardsButtonsLabel {
	color: var(--text1);
	padding: 4px;
}
.boardsButtonsRowFolderIcon {
	width: 28px;
	height: 28px;
	background-image: url("img/boardIcons/folder.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	filter: var(--icon-filter);
	margin: 4px;
}
.boardsButtonsRowButton {
	margin: 3px;
	border: 1px solid var(--outline1);
	border-radius: 6px;
	padding: 3px;
	background-color: var(--button1);
	color: var(--text1);
}
.boardsButtonsRowButton:disabled {
	background-color: var(--button1-disabled);
}
.boardsButtonsRowButton:hover {
	outline: 3px solid var(--hover-outline1);
	outline-offset: -1px;
}
.boardsButtonsRowButton:disabled:hover {
	outline: none;
}
.boardsButtonsRowButtonFill {
	flex: 1;
}
.boardsButtonsRowButtonFixed {
	width: 100px;
}
.boardsFolderPath {
	padding: 3px 6px;
	flex: 1;
	color: var(--text1);
	display: flex;
	align-items: center;
}
.usernameOuter {
	background-color: var(--bg2);
	border: 1px solid var(--outline1);
	border-radius: 6px;
	color: var(--text1);
	margin: 5px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.usernameOuterSelected {
	background-color: var(--bg2-active);
}
.usernameOuter:hover {
	outline: 3px solid var(--hover-outline1);
	outline-offset: -1px;
}
.usernameNameRow {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.usernameNameContent {
	flex: 1;
}
.usernameNameSpan {
	margin: 0px 5px;
}
.usernameNameStatus {
	width: 25px;
	height: 25px;
}
.usernameNameButton {
	background-color: var(--bg2);
	/*border: 1px solid var(--outline1);*/
	color: var(--text1);
	border-radius: 6px;
	border: none;
	padding: 6px;
}
.usernameNameButton:hover {
	background-color: var(--hover-bg1);
}
.usernameButtonsRow {
	padding: 2px 0 0 0;
	border-top: 1px solid var(--outline1);
	gap: 4px;
	display: flex;
	flex-direction: row;
}
.usernameNameExtra {
	color: var(--text2);
	background-color: #aaffaa;
	border: 1px solid #55aa55;
	font-size: 14px;
	border-radius: 3px;
	padding: 1px 4px;
	margin: 2px;
}
.boardName {
	flex: 1;
	padding: 0px 0px 0px 8px;
}
.actionDesc {
	flex: 1;
	padding: 0px 0px 0px 8px;
	display: flex;
	flex-direction: column;
}
.actionName {
	flex: 1;
}
.actionTime {
	flex: 1;
}
.hidden {
	display: none;
}
.transparent {
	opacity: 0;
}
.drawOption {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	padding: 4px;
	color: var(--text1);
	border-bottom: 1px solid var(--outline1);
}
.drawOption > select {
	background-color: var(--bg2);
	border: 1px solid var(--outline1);
	border-radius: 6px;
	padding: 6px;
	color: var(--text1);
}
.drawOption > select:hover {
	outline: 3px solid var(--hover-outline1);
	outline-offset: -1px;
}
.drawOption > input[type="checkbox"] {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	margin: 0;
	vertical-align: top;
	background: var(--bg2);
	border: 1px solid var(--outline1);
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
	box-sizing: content-box;
}
.drawOption > input[type="checkbox"]::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 2px;
	top: 2px;
	width: 16px;
	height: 16px;
	background-color: var(--button2);
	border-radius: 50%;
	transform: translateX(0);
	transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.drawOption > input[type="checkbox"]:checked::after {
	transform: translateX(calc(100% + 3px));
	background-color: #fff;  
}
.drawOption > input[type="checkbox"]:checked {
	background-color: var(--hover-outline1);
}
/*.drawOption > input[type="checkbox"]:hover {
	outline: 3px solid var(--hover-outline1);
	outline-offset: -1px;
}
*/
.drawOption > input[type="color"] {
	background-color: var(--bg2);
	border: 1px solid var(--outline1);
	border-radius: 6px;
	color: var(--text1);
	padding: 0;
}
.drawOption > input[type="color"]:hover {
	outline: 3px solid var(--hover-outline1);
	outline-offset: -1px;
}
.drawOption > input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--bg2);
	border: 1px solid var(--outline1);
	border-radius: 6px;
	color: var(--text1);
	padding: 0;
}
/* https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
.drawOption > input[type="range"]::-webkit-slider-runnable-track {
	background: var(--bg2);
	height: 20px;
}
.drawOption > input[type="range"]::-moz-range-track {
	background: var(--bg2);
	height: 20px;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	margin-top: 0px; /* Centers thumb on the track */
	background-color: var(--button1);
	border: 1px solid var(--outline1);
    border-radius: 2px;
	height: 20px;
	width: 10px;
}
input[type="range"]::-webkit-slider-thumb:hover {
	outline: 3px solid var(--hover-outline1);
	outline-offset: -1px;
}
input[type="range"]::-moz-range-thumb {
	background-color: var(--button1);
	border: 1px solid var(--outline1);
    border-radius: 2px;
	height: 20px;
	width: 10px;
}
input[type="range"]::-moz-range-thumb:hover {
	outline: 3px solid var(--hover-outline1);
	outline-offset: -1px;
}

.boardIconRight {
	width: 64px;
	height: 64px;
	filter: var(--icon-filter);
}
.boardIconGrid {
	position: absolute;
	width: 64px;
	height: 64px;
	bottom: 0;
	right: 0;
	border-radius: 6px;
	margin: 3px;
	background-color: #ffffff44;
}
.txtBoardIcon {
	background-image: url("img/boardIcons/txt.png");
}
.imgBoardIcon {
	background-image: url("img/boardIcons/img.png");
}
.folderBoardIcon {
	background-image: url("img/boardIcons/folder.png");
}
.txtEditHistoryIcon {
	background-image: url("img/historyIcons/txtEdit.png");
}
.imgLineAddHistoryIcon {
	background-image: url("img/historyIcons/lineAdd.png");
}
.imgLineRemoveHistoryIcon {
	background-image: url("img/historyIcons/lineRemove.png");
}